@media screen and (max-width: 600px) {
  .checkbtn {
    display: block;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 90px;
    width: 100%;
    height: 50vh;
    left: -100%;
  }
  #check:checked .nav-items {
    left: 0;
  }

  body {
    margin: 0 20px;
  }
  .logo img {
    width: 40px;
  }
  .logo h1 {
    font-size: 20px;
  }
  /* Banner */
  .banner {
    height: 500px;
  }
  .banner-items {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .banner-items span {
    top: 40px;
    left: -40px;
  }

  .banner-text {
    margin: 0 20px;
  }
  .banner-text h2 {
    font-size: 30px;
  }
  .tour-container {
    display: flex;
    flex-direction: column;
  }
  .tour-img {
    max-width: 100%;
  }
  .destination-images {
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
  }
  .why-us-container {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .hotels,
  .service,
  .guarantee {
    width: 90%;
    padding: 15px;
    margin: 0 auto;
  }
}
